<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>

<body class="homepage">
    <!-- Navigation Bar 顶部导航 -->

    <nav class="navbar">
        <a href="{{ url_for('main.homepage') }}" class="active">Home</a>
        <a href="{{ url_for('main.forum') }}">Forum</a>
        <a href="{{ url_for('main.profile') }}">Profile</a>
        <a href="{{ url_for('main.contact') }}">Contact</a>
        

        <!-- Button with SVG Icon for Posting a Question -->
        <button id="discussionform" style="background: none; border: none; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </button>

        <!-- Discussion Form Modal -->
        <div id="discussionModal" class="modal">
            <div class="discuss-modal-content">
                <span class="discuss-close" id="closeDiscussionModal">&times;</span>
                <h2>Having A Question?</h2>
                <h3>Post Your New Discussion Query</h3>
                <form id="newDiscussionForm" action="submit_question.php" method="POST">
                    <label for="discussionTitle">Discussion Title:</label>
                    <input type="text" id="discussionTitle" name="discussionTitle" required>
                    
                    <label for="discussionContent">Your Question:</label>
                    <textarea id="discussionContent" name="discussionContent" rows="4" cols="50" required></textarea>
                    
                    <div class="post-question">
                        <button class="post-btn">Post Question</button>
                        <input type="file" id="uploadimage" name="uploadimage" accept="image/*">
                    </div>

                </form>
            </div>
        </div>

        <!-- Login and Signup buttons -->
        <div class="navbar-right">
            <a href="{{ url_for('main.index') }}" class="btn" id="showLoginModal">Log In</a>
            <a href="{{ url_for('main.register') }}" class="btn" id="showSignUpModal">Sign Up</a>
        </div> <!-- End of navbar-right -->




        <!-- Password Reset Modal -->
        <div id="passwordResetModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closePasswordReset">&times;</span>
                <h3 class="login-signup-title">Password Reset</h3>
                <form id="passwordResetForm" action="/submit-password-reset" method="POST">
                    <input type="email" id="resetEmail" name="resetEmail" placeholder="Enter your email address" required>
                    <button type="submit" id="resetPasswordButton">Send Reset Link</button>
                </form>
            </div>
        </div>

        <!-- Sign Up Modal -->
        <div id="signupModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeSignup">&times;</span>
                <h3 class="login-signup-title">Sign Up</h3>
                <form id="signupForm" action="/submit-registration" method="POST">
                    <input type="text" id="signupName" name="name" placeholder="Full Name" required>
                    <input type="email" id="signupEmail" name="email" placeholder="Email Address" required>
                    <input type="password" id="signupPassword" name="password" placeholder="Password" required>
                    <button type="submit" id="signupButton">Register</button>
                </form>
            </div>
        </div>

        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" placeholder="Search.." name="search" id="search">
                <button type="submit">Search</button>
            </form>
        </div>

        <!-- Right-aligned container -->
        <div class="navbar-right">
            <img src="profile-pictures/QA_logo.jpg" alt="QA Logo" class="navbar-logo">
        </div>
    </nav>

    <!-- Main Content Area -->
    <div class="container1">
        <h1>A Platform for Knowledge Sharing - 'Classroom Companions'</h1>
        <h2>"Engage in Conversations, Exchange Opinions, and Discover Solutions for Your 'Classroom' Issues."</h2>
    </div>

    <div class="functionality-container2">
        <h2>Our Features</h2>
        <p>Discover the tools that make 'Classroom Companions' the best place to engage in educational discussions:</p>
        <div class="features-flexbox">
            <div class="feature-box" id="interactiveForums">
                <h3>Interactive Forums</h3>
                <p>Engage with the community through lively discussions and collaborative problem-solving.</p>
            </div>
            <div class="feature-box" id="resourceSharing">
                <h3>Resource Sharing</h3>
                <p>Share and access a wealth of educational resources tailored to enhance learning.</p>
            </div>
            <div class="feature-box" id="attractiveRewards">
                <h3>Attractive Rewards</h3>
                <p>Questions and answers from users with high points can be made more visible, such as by highlighting them in forum posts or prioritizing them in search results, as a way to increase reach and visibility.</p>
            </div>
        </div>
    </div>

    <div class="container3">
        <h1>Classroom Companions</h1>
        <h2>'Classroom Companions' is a place where individuals of different backgrounds and ages can freely communicate, share information, and respond to other people's questions. We have dedicated ourselves to building a community where knowledge and experience flow freely since we were founded in 2024.</h2>
    </div>

    <div class="container4">
        <h2>Fundamental Values</h2>
        <h3>"Compassion And Innovation" - these two values form the basis of 'Classroom Companions' and guide us to ensure that our services are suitable for individuals of all ages and backgrounds. We ensure that each user can communicate with others in a respectful and understanding environment."</h3>
    </div>

    <div class="container5">
        <h4>Meet Our Team</h4>
        <ul class="team-list">
            <li class="team-list-item">
                <p>- **[Name]**: [Brief Description or Quote from the member]</p>
            </li>
            <li class="team-list-item">
                <p>- **[Name]**: [Brief Description or Quote from the member]</p>
            </li>    
            <li class="team-list-item">
                <p>- **[Name]**: [Brief Description or Quote from the member]</p>
            </li>    
            <li class="team-list-item">
                <p>- **[Name]**: [Brief Description or Quote from the member]</p>
            </li>
        </ul>
    </div>

    <!-- External JavaScript files -->
    <script src="/static/login-signup.js"></script>
    <script src="/static/discuss.js"></script>
</body>
</html>