#title{
    display: flex;
    text-align: center;
    
}

#signUpForm{
    background-color: rgb(39, 239, 239);
}

#existingGroups{
    background-color: pink;
}

.studentName:hover{
    font-weight: 1000;
}

.ejectButton{
    background-color: rgb(39, 165, 65);
}

form:hover{
    color:rgb(244, 18, 18)
}

