<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>

<body class="homepage">


    <nav class="navbar">
        <a href="{{ url_for('main.homepage') }}" class="active">Home</a>
        <a href="{{ url_for('main.forum') }}">Forum</a>
        <a href="{{ url_for('main.profile') }}">Profile</a>
        <a href="{{ url_for('main.contact') }}">Contact</a>
        

        <!-- Login and Signup buttons -->
        <div class="navbar-right">
            <a href="{{ url_for('main.login') }}" class="btn" id="showLoginModal">Log In</a>
            <a href="{{ url_for('main.register') }}" class="btn" id="showSignUpModal">Sign Up</a>
        </div> <!-- End of navbar-right -->




        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" placeholder="Search.." name="search" id="search">
                <button type="submit">Search</button>
            </form>
        </div>

        <!-- Right-aligned container -->
        <div class="navbar-right">
            <img src="static/profile-pictures/QA_logo.jpg" alt="QA Logo" class="navbar-logo">
        </div>
    </nav>

    <!-- Main Content Area -->
    <div class="container1">
        <h1>A Platform for Knowledge Sharing - 'Classroom Companions'</h1>
        <h2>"Engage in Conversations, Exchange Opinions, and Discover Solutions for Your 'Classroom' Issues."</h2>
    </div>

    <div class="functionality-container2">
        <h2>Our Features</h2>
        <p>Discover the tools that make 'Classroom Companions' the best place to engage in educational discussions:</p>
        <div class="features-flexbox">
            <div class="feature-box" id="interactiveForums">
                <h3>Diverse Discussion Boards</h3>
                <p>We offer a variety of boards that cover areas such as education, technology, arts, and lifestyle. Each board has its own specific topics, making it easy for members to find content and connect with like-minded individuals.</p>
            </div>
            <div class="feature-box" id="resourceSharing">
                <h3>Expert Q&A</h3>
                <p>We regularly invite experts from different fields to provide professional answers and guidance to our members. This is a great opportunity to interact directly with industry experts and gain authoritative advice.</p>
            </div>
            <div class="feature-box" id="attractiveRewards">
                <h3>Attractive Rewards</h3>
                <p>Questions and answers from users with high points can be made more visible, such as by highlighting them in forum posts or prioritizing them in search results, as a way to increase reach and visibility.</p>
            </div>
        </div>
    </div>

    <div class="container3">
        <h1>Classroom Companions</h1>
        <h2>'Classroom Companions' is a place where individuals of different backgrounds and ages can freely communicate, share information, and respond to other people's questions. We have dedicated ourselves to building a community where knowledge and experience flow freely since we were founded in 2024.</h2>
    </div>

    <div class="container4">
        <h2>Fundamental Values</h2>
        <h3>"Compassion And Innovation" - these two values form the basis of 'Classroom Companions' and guide us to ensure that our services are suitable for individuals of all ages and backgrounds. We ensure that each user can communicate with others in a respectful and understanding environment."</h3>
    </div>

    <div class="container5">
        <h4>Meet Our Team</h4>
        <ul class="team-list">
            <li class="team-list-item">
                <p>Leyi Chen: 23442577</p>
            </li>
            <li class="team-list-item">
                <p>Bowen Guo: 23152493</p>
            </li>    
            <li class="team-list-item">
                <p>Pengyu Lu: 23201541</p>
            </li>    
            <li class="team-list-item">
                <p>Sunyan Qin: 23208949</p>
            </li>
        </ul>
    </div>

    <!-- External JavaScript files -->
    <script src="/static/login-signup.js"></script>
    <script src="/static/discuss.js"></script>
</body>
</html> 
