<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body class="login-page">
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('main.login') }}">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</body>
</html>