<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body id="reset-password-page">
    <div id="reset-password-container" class="container">
        <h1 id="reset-password-title">Reset Password</h1>
        <form id="reset-password-form" method="POST" action="{{ url_for('main.request_password_reset') }}">
            {{ form.hidden_tag() }}
            <p id="reset-password-email-field">
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
            </p>
            <p id="reset-password-submit-field">{{ form.submit() }}</p>
        </form>
    </div>
</body>
</html>
